body{
    margin: 10;
    padding: 10;
    background:url(Cofee.jpg);
    background-size: cover;
    font-family: sans-serif;
    color:beige;
}
.login-form{
    background-color: rgb(0,0,0,.8);
    width: 380px; ;
    height: 350px; ;
    margin: 50;
    padding: 50px;
    position: absolute;
    top: 50;
    left: 50%;
    box-sizing: border-box;
   
}
h1{
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-align: center;



}
p{
margin: 0;
padding: 0;
font-size: 18px;
}
input{
    width: 100%;
    margin-bottom: 20px;
}
.login-form input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 35px;
    font-size: 18px;
    color: white;

}
.login-form input [ type="button"]
{
    border: none;
    outline: none;
    height: 48px;
    background-color: #0000ff;
    color: white;
    font-size: 18px;
    border-radius: 20px;
}
.login-form input [type="button"] :hover
{
background-color: #000;
color: white;
cursor: pointer;

}
.login-form a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;

}
.login form img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -60px;
    left: calc(50% - 50%);
}















}
























